body {
    background-image: url('../assets/bg.jpg');
    margin: 0;
    #header {
        position: fixed;
        background-image: url('/public/assets/header_bg.svg');
        height: 55px;
        width: 100%;
        top: 0;
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        padding-top: 0;
        z-index: 2;
        #imgHeader {
            display: flex;
            margin: auto;
            margin-bottom: 100px;
        }
    }
    #navbar {
        position: fixed;
        background-color: #202020;
        list-style-type: none;
        top: 55px;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        z-index: 2;
        li {
            color: #696969;
            display: inline-flex;
            margin-left: 0;
            margin-top: 5px;
            font-family: 'Oswald', sans-serif;
            font-size: 25px;
        }
        li:hover{
            cursor: pointer;
        }
        li:after {
            content: ' \00b7';
            color: #696969 !important;
            letter-spacing: 1em;
            position: relative;
            left: 17px;
        }
        li:last-child:after {
            content: none;
        }
    }
    #redditContainer {
        display: flex;
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;
        flex-grow: 1;
        text-align: left;
        margin-left: 12%;
        margin-right: 10%;
        margin-top: 10%;
        width: 75%;
        .articles {
            width: 300px;
            height: 550px;
            margin: 20px;
            padding: 30px;
            background-color: white;
            flex: 0 0 450px;
            box-shadow: 0 0 10px;
            border: 5px solid white;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            opacity: 1;
            animation: fade 1s linear;
            position: relative;
            .image {
                height: 350px;
                width: 450px;
            }            
            .articles iframe {
                display: none;
            }
            h2 {
                font-size: 18spx !important;
            }
            @keyframes fade {
                from {
                    opacity:0;
                }
                to {
                    opacity:1;
                }
            }
        }
        .articles:hover{
            border: 5px solid orange;
            cursor: pointer;
        }
        .descriptions {
            word-wrap: break-word;
        }
    }
    #footer {
        position: fixed;
        background-color: #202020;
        height: 40px;
        width: 100%;
        bottom: 0;
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 0;
        z-index: 2;
    }
}