body {
  background-image: url("../assets/bg.jpg");
  margin: 0; }
  body #header {
    position: fixed;
    background-image: url("/public/assets/header_bg.svg");
    height: 55px;
    width: 100%;
    top: 0;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 0;
    z-index: 2; }
    body #header #imgHeader {
      display: flex;
      margin: auto;
      margin-bottom: 100px; }
    body #header #plus {
      position: absolute;
      top: 15px;
      right: 15px;
      background-image: url("/public/assets/plus_grey.png");
      height: 25px;
      width: 25px; }
    body #header #plus:hover {
      background-image: url("/public/assets/plus_orange.png");
      cursor: pointer; }
  body #navbar {
    position: fixed;
    background-color: #202020;
    list-style-type: none;
    top: 55px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 2; }
    body #navbar li {
      color: #909090;
      display: inline-flex;
      margin-left: 0;
      margin-top: 5px;
      font-family: 'Oswald', sans-serif;
      font-size: 25px; }
    body #navbar li:hover {
      cursor: pointer; }
    body #navbar li:after {
      content: ' \00b7';
      color: #696969 !important;
      letter-spacing: 1em;
      position: relative;
      left: 17px; }
    body #navbar li:last-child:after {
      content: none; }
  body #redditContainer {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: left;
    margin-left: 12.5%;
    margin-right: 12%;
    margin-top: 7%;
    width: 75%; }
    body #redditContainer .articles {
      width: 300px;
      height: 550px;
      margin: 20px;
      padding: 30px;
      background-color: white;
      flex: 0 0 450px;
      box-shadow: 0 0 10px;
      border: 5px solid white;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      opacity: 1;
      animation: fade 1s linear;
      position: relative; }
      body #redditContainer .articles .image {
        height: 350px;
        width: 450px; }
      body #redditContainer .articles .articles iframe {
        display: none; }
      body #redditContainer .articles h2 {
        font-size: 18spx !important; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    body #redditContainer .articles:hover {
      border: 5px solid orange;
      cursor: pointer; }
    body #redditContainer .descriptions {
      word-wrap: break-word; }
  body #footer {
    position: fixed;
    background-color: #202020;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
    z-index: 2; }
    body #footer ul {
      position: relative;
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-top: 9px; }
      body #footer ul li {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat; }
      body #footer ul li:hover {
        cursor: pointer; }
      body #footer ul #facebook {
        background-image: url("/public/assets/facebook_grey.png");
        margin-right: 15px; }
      body #footer ul #facebook:hover {
        background-image: url("/public/assets/facebook_orange.png"); }
      body #footer ul #instagram {
        background-image: url("/public/assets/instagram_grey.png"); }
      body #footer ul #instagram:hover {
        background-image: url("/public/assets/instagram_orange.png"); }
